USE [QLShopMP]
GO
/****** Object:  Table [dbo].[CHI_TIET_HOA_DON]    Script Date: 8/15/2020 3:45:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHI_TIET_HOA_DON](
	[MaHD] [int] NOT NULL,
	[MaSP] [int] NOT NULL,
	[GiaVon] [money] NULL,
	[GiaBan] [money] NULL,
	[SoLuong] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHI_TIET_PHIEU_KIEM_KHO]    Script Date: 8/15/2020 3:45:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHI_TIET_PHIEU_KIEM_KHO](
	[MaKiemKho] [varchar](5) NOT NULL,
	[MaSP] [int] NOT NULL,
	[SoLuong] [int] NULL,
	[SoLuongThucTe] [int] NULL,
	[ChenhLech] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKiemKho] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CHI_TIET_PHIEU_NHAP]    Script Date: 8/15/2020 3:45:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHI_TIET_PHIEU_NHAP](
	[MaPN] [varchar](5) NOT NULL,
	[MaSP] [int] NOT NULL,
	[GiaNhap] [money] NULL,
	[SoLuong] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPN] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CHI_TIET_PHIEU_TRA_HANG_BAN]    Script Date: 8/15/2020 3:45:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHI_TIET_PHIEU_TRA_HANG_BAN](
	[MaPTB] [varchar](5) NOT NULL,
	[MaSP] [int] NOT NULL,
	[SoLuong] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPTB] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CHI_TIET_PHIEU_TRA_HANG_NHAP]    Script Date: 8/15/2020 3:45:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHI_TIET_PHIEU_TRA_HANG_NHAP](
	[MaPTN] [varchar](5) NOT NULL,
	[MaSP] [int] NOT NULL,
	[SoLuong] [int] NULL,
	[GiaTra] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPTN] ASC,
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CHUC_VU]    Script Date: 8/15/2020 3:45:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CHUC_VU](
	[MaCV] [varchar](5) NOT NULL,
	[TenCV] [nvarchar](30) NULL,
	[Luong] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DANG_NHAP]    Script Date: 8/15/2020 3:45:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DANG_NHAP](
	[MaNV] [varchar](5) NULL,
	[TaiKhoan] [varchar](22) NOT NULL,
	[MatKhau] [varchar](100) NULL,
	[TinhTrang] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[TaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HOA_DON]    Script Date: 8/15/2020 3:45:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOA_DON](
	[MaHD] [int] IDENTITY(1,1) NOT NULL,
	[MaKH] [varchar](5) NULL,
	[MaNV] [varchar](5) NULL,
	[ThoiGian] [datetime] NULL,
	[GiamGia] [int] NULL,
	[TongTien] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HOAT_DONG]    Script Date: 8/15/2020 3:45:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HOAT_DONG](
	[MaHoatDong] [varchar](5) NOT NULL,
	[MaNV] [varchar](5) NULL,
	[HoatDong] [nvarchar](30) NULL,
	[ThoiGian] [datetime] NULL,
	[GiaTri] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHoatDong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KHACH_HANG]    Script Date: 8/15/2020 3:45:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHACH_HANG](
	[MaKH] [varchar](5) NOT NULL,
	[TaiKhoan] [varchar](50) NULL,
	[Pass] [varchar](50) NULL,
	[TenKH] [nvarchar](30) NULL,
	[MaLoaiKH] [varchar](5) NULL,
	[NgaySinh] [date] NULL,
	[NgayDangKy] [date] NULL,
	[CMND] [char](12) NULL,
	[Email] [nvarchar](max) NULL,
	[SDT] [char](11) NULL,
	[DiaChi] [nvarchar](max) NULL,
	[TongTienMua] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOAI_KHACH_HANG]    Script Date: 8/15/2020 3:45:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOAI_KHACH_HANG](
	[MaLoaiKH] [varchar](5) NOT NULL,
	[TenLoaiKH] [nvarchar](30) NULL,
	[GioiHanDuoi] [money] NULL,
	[GioiHanTren] [money] NULL,
	[GiamGia] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoaiKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MAN_HINH]    Script Date: 8/15/2020 3:45:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MAN_HINH](
	[MaMH] [varchar](5) NOT NULL,
	[TenMH] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NGUOI_DUNG_NHOM_NGUOI_DUNG]    Script Date: 8/15/2020 3:45:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NGUOI_DUNG_NHOM_NGUOI_DUNG](
	[TaiKhoan] [varchar](22) NOT NULL,
	[MaNhom] [varchar](5) NULL,
PRIMARY KEY CLUSTERED 
(
	[TaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHA_CUNG_CAP]    Script Date: 8/15/2020 3:45:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHA_CUNG_CAP](
	[MaNCC] [varchar](5) NOT NULL,
	[TenNCC] [nvarchar](70) NULL,
	[MaSoThue] [char](13) NULL,
	[DiaChi] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[SDT] [char](11) NULL,
	[TongTien] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNCC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHAN_VIEN]    Script Date: 8/15/2020 3:45:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHAN_VIEN](
	[MaNV] [varchar](5) NOT NULL,
	[TenNV] [nvarchar](30) NULL,
	[MaCV] [varchar](5) NULL,
	[NgaySinh] [date] NULL,
	[CMND] [char](12) NULL,
	[Email] [nvarchar](max) NULL,
	[SDT] [char](11) NULL,
	[Luong] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHOM_NGUOI_DUNG]    Script Date: 8/15/2020 3:45:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHOM_NGUOI_DUNG](
	[MaNhom] [varchar](5) NOT NULL,
	[TenNhom] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNhom] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHAN_QUYEN]    Script Date: 8/15/2020 3:45:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHAN_QUYEN](
	[MaNhom] [varchar](5) NOT NULL,
	[MaMH] [varchar](5) NOT NULL,
	[CoQuyen] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNhom] ASC,
	[MaMH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHIEU_KIEM_KHO]    Script Date: 8/15/2020 3:45:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHIEU_KIEM_KHO](
	[MaKiemKho] [varchar](5) NOT NULL,
	[ThoiGian] [datetime] NULL,
	[TongChenhLech] [int] NULL,
	[MaNV] [varchar](5) NULL,
	[GhiChu] [nvarchar](200) NULL,
	[TrangThai] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKiemKho] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHIEU_NHAP]    Script Date: 8/15/2020 3:45:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHIEU_NHAP](
	[MaPN] [varchar](5) NOT NULL,
	[MaNV] [varchar](5) NULL,
	[MaNCC] [varchar](5) NULL,
	[ThoiGian] [date] NULL,
	[GiamGia] [int] NULL,
	[TongTien] [money] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHIEU_TRA_HANG_BAN]    Script Date: 8/15/2020 3:45:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHIEU_TRA_HANG_BAN](
	[MaPTB] [varchar](5) NOT NULL,
	[MaHD] [int] NULL,
	[MaNV] [varchar](5) NULL,
	[MaKH] [varchar](5) NULL,
	[ChiPhi] [money] NULL,
	[TongTien] [money] NULL,
	[ThoiGian] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPTB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHIEU_TRA_HANG_NHAP]    Script Date: 8/15/2020 3:45:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHIEU_TRA_HANG_NHAP](
	[MaPTN] [varchar](5) NOT NULL,
	[MaNCC] [varchar](5) NULL,
	[MaNV] [varchar](5) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPTN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SAN_PHAM]    Script Date: 8/15/2020 3:45:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SAN_PHAM](
	[MaSP] [int] IDENTITY(1,1) NOT NULL,
	[MaLoaiSP] [varchar](5) NULL,
	[TenSP] [nvarchar](100) NULL,
	[DonViTinh] [nvarchar](10) NULL,
	[SoLuong] [int] NULL,
	[GiaBan] [money] NULL,
	[GiaVon] [money] NULL,
	[TrangThai] [bit] NULL,
	[HinhAnh] [nvarchar](150) NULL,
	[MoTa] [nvarchar](max) NULL,
	[MaTH] [varchar](5) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[THE_LOAI_SAN_PHAM]    Script Date: 8/15/2020 3:45:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[THE_LOAI_SAN_PHAM](
	[MaLoaiSP] [varchar](5) NOT NULL,
	[TenLoaiSP] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaLoaiSP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[THUONG_HIEU]    Script Date: 8/15/2020 3:45:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[THUONG_HIEU](
	[MaTH] [varchar](5) NOT NULL,
	[TenTH] [nvarchar](50) NULL,
	[Images] [nvarchar](150) NULL,
 CONSTRAINT [PK_THIEU] PRIMARY KEY CLUSTERED 
(
	[MaTH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TIN]    Script Date: 8/15/2020 3:45:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIN](
	[MaTin] [int] NOT NULL,
	[TieuDe] [nvarchar](max) NULL,
	[Hinh] [nvarchar](max) NULL,
	[Ngay] [datetime] NULL,
	[TomTat] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
ALTER TABLE [dbo].[HOA_DON] ADD  DEFAULT (getdate()) FOR [ThoiGian]
GO
ALTER TABLE [dbo].[KHACH_HANG] ADD  DEFAULT (N'Chưa xác định') FOR [Email]
GO
ALTER TABLE [dbo].[KHACH_HANG] ADD  DEFAULT (N'Chưa xác định') FOR [DiaChi]
GO
ALTER TABLE [dbo].[NHAN_VIEN] ADD  DEFAULT (N'Chưa xác định') FOR [Email]
GO
ALTER TABLE [dbo].[NHAN_VIEN] ADD  DEFAULT (N'Chưa xác định') FOR [SDT]
GO
ALTER TABLE [dbo].[PHIEU_KIEM_KHO] ADD  DEFAULT (getdate()) FOR [ThoiGian]
GO
ALTER TABLE [dbo].[PHIEU_NHAP] ADD  DEFAULT (getdate()) FOR [ThoiGian]
GO
ALTER TABLE [dbo].[THUONG_HIEU] ADD  DEFAULT (N'KoXacDinh.jpg') FOR [Images]
GO
ALTER TABLE [dbo].[CHI_TIET_HOA_DON]  WITH CHECK ADD FOREIGN KEY([MaHD])
REFERENCES [dbo].[HOA_DON] ([MaHD])
GO
ALTER TABLE [dbo].[CHI_TIET_HOA_DON]  WITH CHECK ADD FOREIGN KEY([MaSP])
REFERENCES [dbo].[SAN_PHAM] ([MaSP])
GO
ALTER TABLE [dbo].[CHI_TIET_PHIEU_KIEM_KHO]  WITH CHECK ADD FOREIGN KEY([MaKiemKho])
REFERENCES [dbo].[PHIEU_KIEM_KHO] ([MaKiemKho])
GO
ALTER TABLE [dbo].[CHI_TIET_PHIEU_KIEM_KHO]  WITH CHECK ADD FOREIGN KEY([MaSP])
REFERENCES [dbo].[SAN_PHAM] ([MaSP])
GO
ALTER TABLE [dbo].[CHI_TIET_PHIEU_NHAP]  WITH CHECK ADD FOREIGN KEY([MaPN])
REFERENCES [dbo].[PHIEU_NHAP] ([MaPN])
GO
ALTER TABLE [dbo].[CHI_TIET_PHIEU_NHAP]  WITH CHECK ADD FOREIGN KEY([MaSP])
REFERENCES [dbo].[SAN_PHAM] ([MaSP])
GO
ALTER TABLE [dbo].[CHI_TIET_PHIEU_TRA_HANG_BAN]  WITH CHECK ADD FOREIGN KEY([MaSP])
REFERENCES [dbo].[SAN_PHAM] ([MaSP])
GO
ALTER TABLE [dbo].[CHI_TIET_PHIEU_TRA_HANG_NHAP]  WITH CHECK ADD FOREIGN KEY([MaSP])
REFERENCES [dbo].[SAN_PHAM] ([MaSP])
GO
ALTER TABLE [dbo].[DANG_NHAP]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[NHAN_VIEN] ([MaNV])
GO
ALTER TABLE [dbo].[HOA_DON]  WITH CHECK ADD FOREIGN KEY([MaKH])
REFERENCES [dbo].[KHACH_HANG] ([MaKH])
GO
ALTER TABLE [dbo].[HOA_DON]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[NHAN_VIEN] ([MaNV])
GO
ALTER TABLE [dbo].[HOAT_DONG]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[NHAN_VIEN] ([MaNV])
GO
ALTER TABLE [dbo].[KHACH_HANG]  WITH CHECK ADD FOREIGN KEY([MaLoaiKH])
REFERENCES [dbo].[LOAI_KHACH_HANG] ([MaLoaiKH])
GO
ALTER TABLE [dbo].[NGUOI_DUNG_NHOM_NGUOI_DUNG]  WITH CHECK ADD FOREIGN KEY([MaNhom])
REFERENCES [dbo].[NHOM_NGUOI_DUNG] ([MaNhom])
GO
ALTER TABLE [dbo].[NGUOI_DUNG_NHOM_NGUOI_DUNG]  WITH CHECK ADD FOREIGN KEY([TaiKhoan])
REFERENCES [dbo].[DANG_NHAP] ([TaiKhoan])
GO
ALTER TABLE [dbo].[NHAN_VIEN]  WITH CHECK ADD FOREIGN KEY([MaCV])
REFERENCES [dbo].[CHUC_VU] ([MaCV])
GO
ALTER TABLE [dbo].[PHAN_QUYEN]  WITH CHECK ADD FOREIGN KEY([MaNhom])
REFERENCES [dbo].[NHOM_NGUOI_DUNG] ([MaNhom])
GO
ALTER TABLE [dbo].[PHAN_QUYEN]  WITH CHECK ADD FOREIGN KEY([MaMH])
REFERENCES [dbo].[MAN_HINH] ([MaMH])
GO
ALTER TABLE [dbo].[PHIEU_KIEM_KHO]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[NHAN_VIEN] ([MaNV])
GO
ALTER TABLE [dbo].[PHIEU_NHAP]  WITH CHECK ADD FOREIGN KEY([MaNCC])
REFERENCES [dbo].[NHA_CUNG_CAP] ([MaNCC])
GO
ALTER TABLE [dbo].[PHIEU_NHAP]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[NHAN_VIEN] ([MaNV])
GO
ALTER TABLE [dbo].[PHIEU_TRA_HANG_BAN]  WITH CHECK ADD FOREIGN KEY([MaHD])
REFERENCES [dbo].[HOA_DON] ([MaHD])
GO
ALTER TABLE [dbo].[PHIEU_TRA_HANG_NHAP]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[NHAN_VIEN] ([MaNV])
GO
ALTER TABLE [dbo].[PHIEU_TRA_HANG_NHAP]  WITH CHECK ADD FOREIGN KEY([MaNCC])
REFERENCES [dbo].[NHA_CUNG_CAP] ([MaNCC])
GO
ALTER TABLE [dbo].[SAN_PHAM]  WITH CHECK ADD FOREIGN KEY([MaLoaiSP])
REFERENCES [dbo].[THE_LOAI_SAN_PHAM] ([MaLoaiSP])
GO
ALTER TABLE [dbo].[SAN_PHAM]  WITH CHECK ADD FOREIGN KEY([MaTH])
REFERENCES [dbo].[THUONG_HIEU] ([MaTH])
GO
ALTER TABLE [dbo].[CHI_TIET_HOA_DON]  WITH CHECK ADD CHECK  (([GiaBan]>=(0)))
GO
ALTER TABLE [dbo].[CHI_TIET_HOA_DON]  WITH CHECK ADD CHECK  (([GiaVon]>=(0)))
GO
ALTER TABLE [dbo].[CHI_TIET_HOA_DON]  WITH CHECK ADD CHECK  (([SoLuong]>=(0)))
GO
ALTER TABLE [dbo].[CHI_TIET_PHIEU_KIEM_KHO]  WITH CHECK ADD CHECK  (([SoLuong]>=(0)))
GO
ALTER TABLE [dbo].[CHI_TIET_PHIEU_TRA_HANG_BAN]  WITH CHECK ADD CHECK  (([SoLuong]>=(0)))
GO
ALTER TABLE [dbo].[CHI_TIET_PHIEU_TRA_HANG_NHAP]  WITH CHECK ADD CHECK  (([GiaTra]>=(0)))
GO
ALTER TABLE [dbo].[CHI_TIET_PHIEU_TRA_HANG_NHAP]  WITH CHECK ADD CHECK  (([SoLuong]>=(0)))
GO
ALTER TABLE [dbo].[HOA_DON]  WITH CHECK ADD CHECK  (([GiamGia]>=(0)))
GO
ALTER TABLE [dbo].[HOAT_DONG]  WITH CHECK ADD CHECK  (([GiaTri]>=(0)))
GO
ALTER TABLE [dbo].[KHACH_HANG]  WITH CHECK ADD CHECK  (([NgaySinh]<getdate()))
GO
ALTER TABLE [dbo].[LOAI_KHACH_HANG]  WITH CHECK ADD CHECK  (([GiamGia]>=(0)))
GO
ALTER TABLE [dbo].[LOAI_KHACH_HANG]  WITH CHECK ADD CHECK  (([GioiHanDuoi]>=(0)))
GO
ALTER TABLE [dbo].[LOAI_KHACH_HANG]  WITH CHECK ADD CHECK  (([GioiHanTren]>=(0)))
GO
ALTER TABLE [dbo].[NHAN_VIEN]  WITH CHECK ADD CHECK  (([Luong]>=(0)))
GO
ALTER TABLE [dbo].[NHAN_VIEN]  WITH CHECK ADD CHECK  (([NgaySinh]<getdate()))
GO
ALTER TABLE [dbo].[PHIEU_NHAP]  WITH CHECK ADD CHECK  (([GiamGia]>=(0)))
GO
ALTER TABLE [dbo].[PHIEU_TRA_HANG_BAN]  WITH CHECK ADD CHECK  (([ChiPhi]>=(0)))
GO
ALTER TABLE [dbo].[PHIEU_TRA_HANG_BAN]  WITH CHECK ADD CHECK  (([TongTien]>=(0)))
GO
ALTER TABLE [dbo].[SAN_PHAM]  WITH CHECK ADD CHECK  (([GiaBan]>=(0)))
GO
ALTER TABLE [dbo].[SAN_PHAM]  WITH CHECK ADD CHECK  (([GiaVon]>=(0)))
GO
ALTER TABLE [dbo].[SAN_PHAM]  WITH CHECK ADD CHECK  (([SoLuong]>=(0)))
GO
